.menu {
  position: fixed;
  left: 4rem;
  top: 4rem;
  width: 10rem;
  overflow: hidden;

  > div {
    transform: translateX(-10rem);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.7s ease;
  }

  &.is-active {
    > div {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
