.menu {
  position: absolute;
  left: 4rem;
  top: 4rem;
}

.menu ul {
  list-style: none;
  padding: 0 2rem 0 0;
  margin: 0;
}

.menu li {
  color: rgb(161, 133, 142);
  margin: 0 0 .75rem;
  padding: 0;
}

.menu li:global(.isActive) {
  color: #4d4c53;
  pointer-events: none;
}

.menu li:global(.isActive) a {
  transform: scale(1.1);
}

.menu a {
  color: inherit;
  display: block;
  text-decoration: none;
  transition: color .3s ease-out, transform .3s ease-out;
}

.menu a:hover {
  color: rgb(98, 86, 86)
}